<!doctype html>
<html lang="en">
<head>
    <%- include('./templates/head') %>
</head>
<body>
<%- include('./templates/navbar') %>

<!--Wrapper-->
<div class="wrapper" id="wrapper">
    <!--Header Section-->
    <header>

    </header>
    <br>
    <!--About Us Section-->
    <section class="about" id="about">
        <div class="container">
            <h1>About</h1>
            <div class="jumbotron">
                <h2>First Fleet Management</h2>
                <p class="overflowFix">We provide the latest and greatest fleet management solutions to date.
                    Offering a
                    completely custom but
                    feature rich dashboard you can easily manage your whole fleet, or just a sub section. view the
                    demo
                    or head
                    to the features section to find out more.</p>
            </div>
        </div>
    </section>

    <!doctype html>
    <html lang="en">
    <head>
        <%- include('./templates/head') %>
    </head>
    <body>
    <%- include('./templates/navbar') %>

    <!--Wrapper-->
    <div class="wrapper" id="wrapper">
        <!--Header Section-->
        <header>

        </header>
        <br>
        <!--About Us Section-->
        <section class="about" id="about">
            <div class="container">
                <h1>About</h1>
                <div class="jumbotron">
                    <h2>First Fleet Management</h2>
                    <p class="overflowFix">We provide the latest and greatest fleet management solutions to date.
                        Offering a
                        completely custom but
                        feature rich dashboard you can easily manage your whole fleet, or just a sub section. view the
                        demo
                        or head
                        to the features section to find out more.</p>
                </div>
            </div>
        </section>

    <section class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>

            </div>
        </div>
    </section>

</div>

<%- include('./templates/footer') %>
</body>
</html>
